.kalam-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}
body.main-page {
  background-color: #131f35;
}

body.forecast-page {
  background-color: #6adceb;
  opacity: 1;
  background-image: linear-gradient(#fff 2px, transparent 2px),
    linear-gradient(to right, #fff 2px, #6adceb 2px);
  background-size: 28px 28px;
}

.main-page h1 {
  color: #f42d7d;
  font-family: "Kalam", cursive;
  font-weight: 700;
  text-align: center;
  font-size: 38px;
  margin: auto;
  padding: 75px 0 0 0;
}
h1 {
  color: #f42d7d;
  font-family: "Kalam", cursive;
  font-weight: 700;
  text-align: center;
  font-size: 55px;
  margin: auto;
  padding: 20px 0 0 0;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
}
h2 {
  color: #8cc553;
  font-family: "Kalam", cursive;
  font-weight: 400;
  text-align: center;
  font-size: 93px;
  margin: auto;
  padding: 0px 0 0 0;
  display: flex;
  justify-content: center;
}
h3 {
  color: #8cc553;
  font-family: "Kalam", cursive;
  font-weight: 400;
  text-align: center;
  font-size: 33px;
  margin: auto;
  padding: 0 0 0 0;
  display: flex;
  justify-content: center;
  position: relative;
  top: -40px;
}
img {
  background-color: #f5dbcc;
  border: 1px solid #f42d7d;
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 212px;
  padding: 5px;
}
.lucette {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lucette img {
  width: 250px;
}
.broken-clouds-day {
  src: img;
}

form {
  display: flex;
  justify-content: center;
  margin: 10px;
  height: 28px;
}
main {
  display: block;
  margin: 43px auto;
  width: 700px;
  height: 480px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 30px;
}
ul {
  list-style: none;
  padding: 0px;
  margin: auto;
  position: relative;
  top: -20px;
}

.temperature {
  color: #f42d7d;
  font-family: "Kalam", cursive;
  font-weight: 400;
  text-align: left;
  font-size: 120px;
  margin: auto;
  padding: 0;
  position: relative;
  left: 20px;
  top: -20px;
}
.description {
  text-align: right;
  color: #8cc553;
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-size: 30px;
  margin: auto;
  padding: 0px 0 0 0;
  position: relative;
  top: -50px;
  right: 20px;
}

.weather-block {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 480px;
  grid-gap: 2px;
  padding: 10px 10px;
}

.main-page form {
  margin: 46px;
}

.block {
  display: block;
  margin: 100px auto;
  width: 534px;
  height: 534px;
  border: 1px solid #6adceb;
  border-radius: 83px;
  background-color: #6adceb;
  opacity: 1;
  background-image: linear-gradient(#fff 2px, transparent 2px),
    linear-gradient(to right, #fff 2px, #6adceb 2px);
  background-size: 28px 28px;
}
.go-btn {
  background-color: #8cc553;
  font-size: 15px;
  color: #131f35;
  border: none;
  border-radius: 0px 30px 30px 0px;
  width: 45px;
  font-family: "Kalam", cursive;
}
.city-input {
  background-color: #c5e2a9;
  font-size: 15px;
  color: #131f35;
  border: none;
  border-radius: 30px 0px 0px 30px;
  width: 180px;
  padding: 10px;
  font-family: "Kalam", cursive;
}
