.kalam-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}
.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}
.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #f42d7d;
  font-weight: 400;
}
body {
  background-color: #6adceb;
  opacity: 1;
  background-image: linear-gradient(#fff 2px, transparent 2px),
    linear-gradient(to right, #fff 2px, #6adceb 2px);
  background-size: 28px 28px;
  font-family: "Kalam", cursive;
}
footer {
  color: #f42d7d;
  font-weight: 300;
  text-align: center;
  font-size: 15px;
  width: 800px;
  margin: auto;
  padding: 10px 0 0 0;
}
form {
  display: flex;
  justify-content: center;
  margin: 20px 10px;
  height: 28px;
}
h1 {
  color: #f42d7d;
  font-weight: 700;
  text-align: center;
  font-size: 50px;
  margin: 30px 0;
  text-shadow: 1px 1px 6px rgba(255, 255, 255, 0.45);
  padding: 30px 0;
  line-height: 1;
}
h2 {
  color: rgb(140, 197, 83);
  font-weight: 400;
  text-align: center;
  font-size: 83px;
  margin: auto;
  padding: 21px 0 0 0;
  display: flex;
  justify-content: center;
  line-height: 1;
}
h3 {
  color: #75a842;
  font-weight: 400;
  text-align: center;
  font-size: 23px;
  line-height: 1;
  margin: auto;
  padding: 0 0 0 0;
  display: flex;
  justify-content: center;
  position: relative;
  top: 0px;
}
img {
  border: 1px solid #f42d7d;
  border-radius: 50%;
  display: block;
  margin: auto;
}
main {
  display: block;
  margin: 15px auto 15px;
  width: 650px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 30px;
}
ul {
  list-style: none;
  padding: 0px;
  margin: auto;
  position: relative;
  top: -20px;
}

.lucette img {
  width: 250px;
}

.block {
  display: block;
  margin: 100px auto;
  width: 534px;
  height: 534px;
  border: 1px solid #6adceb;
  border-radius: 83px;
  background-color: #6adceb;
  opacity: 1;
  background-image: linear-gradient(#fff 2px, transparent 2px),
    linear-gradient(to right, #fff 2px, #6adceb 2px);
  background-size: 28px 28px;
}
.city-input {
  background-color: #c5e2a9;
  font-family: "Kalam", cursive;

  font-size: 15px;
  color: #131f35;
  border: none;
  border-radius: 30px 0px 0px 30px;
  width: 180px;
  padding: 10px;
}
.description {
  text-align: right;
  color: #8cc553;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  margin: auto;
  padding: 0 0 0 0;
  position: relative;
  right: 20px;
}
.go-btn {
  background-color: #8cc553;
  font-family: "Kalam", cursive;

  font-size: 15px;
  color: #131f35;
  border: none;
  border-radius: 0px 30px 30px 0px;
  width: 45px;
  transition: all 200ms ease-in-out;
}
.go-btn:hover {
  background-color: #f42d7d;
  color: #c5e2a9;
  cursor: pointer;
}
.lucette {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lucette-logo {
  background-color: #f5dbcc;
}
.main-page form {
  margin: 46px;
}

.temperature {
  color: #f42d7d;
  font-weight: 400;
  text-align: left;
  font-size: 110px;
  line-height: 1;
  margin: auto;
  padding: 59px 36px 0;
  position: relative;
}
.weather-block {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-gap: 2px;
  padding: 10px 10px;
}
.weather-forecast {
  background-color: #c5e2a9;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 650px;
  padding: 0 10px;
}
.weather-forecast-date {
  color: #7baf48;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}
.weather-forecast-temp {
  color: #f42d7d;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
.weather-forecast-min {
  opacity: 0.65;
  font-weight: 400;
}
.weather-forecast-lucette img {
  width: 63px;
  transition: all 200ms ease-in-out;
}
.weather-forecast-lucette:hover {
  transform: scale(2);
  position: relative;
  z-index: 2;
}
